Package: com.libretro.basilisk2
Name: basilisk2
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Libretro iOS core of BasiliskII
Maintainer: libretro
Author: libretro
Section: System
Tag: role::developer
